.profile__info_add-button {
    margin: 32px auto 0;
    grid-area: add_button;
    box-sizing: border-box;
    background-color: #000;
    background-image: url(../../../../images/profile/Add\ Button\ \(1\).svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    width: 282px;
    height: 50px;
}