.profile__info_edit-button {
    margin: 30px 10px 0;
    grid-area: edit_button;
    box-sizing: border-box;
    background-color: #000;
    background-image: url(../../../../images/profile/Edit\ Button\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    width: 18px;
    height: 18px;
}